alembic
babel
faker
flask-caching
flask-marshmallow
flask-migrate
flask-multipass[authlib]
flask-sqlalchemy
flask-url-map-serializer
flask
icalendar
itsdangerous
jinja2
marshmallow-enum
marshmallow-sqlalchemy
marshmallow
psycopg2
python-dotenv
pytz
redis
requests
sqlalchemy
webargs
werkzeug
xlsxwriter
