@import '../styles/palette';

.options-msg {
  text-align: center;
}

.date {
  text-align: center;
}

.hours-column {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 25px;

  .hour {
    position: absolute;
    color: $grey;
  }
}

.options-column {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 1px;

  .answer-slot {
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    width: 100%;
    cursor: pointer;

    &.unavailable {
      color: $grey;
      background-color: rgba($grey, 0.3);
      border: 1px solid darken(rgba($grey, 0.3), 4%);
    }

    &.available {
      color: $dark-green;
      background-color: rgba($green, 0.5);
      border: 1px solid darken(rgba($dark-green, 0.3), 4%);
    }

    &.ifneedbe {
      color: $dark-yellow;
      background-color: rgba($yellow, 0.5);
      border: 1px solid darken(rgba($dark-yellow, 0.3), 4%);
    }

    .option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px;
      user-select: none;
    }
  }

  .multiple-answer-slot {
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    width: 100%;
    border: 1px solid darken(rgba($grey, 0.3), 4%);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

    .option {
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px;
      user-select: none;

      &.unavailable {
        background-color: rgba($grey, 0.3);
        color: $grey;
      }

      &.available {
        color: $dark-green;
        background-color: rgba($green, 0.5);
      }

      &.ifneedbe {
        color: $dark-yellow;
        background-color: rgba($yellow, 0.5);
      }
    }
  }

  .busy-slot {
    position: absolute;
    background-color: $peach;
    border: 1px solid darken($peach, 4%);
    border-radius: 2px;
    opacity: 0.3;
    width: 100%;
  }
}
