@import '../styles/palette';

main {
  > * {
    padding: 3em;
  }
}

@media screen and (max-width: 767px) {
  main {
    > * {
      padding: 2em 1em;
    }
  }
}

h2 {
  color: $pink;
}

input {
  font-size: 100%;
}
