@import '../styles/palette.scss';

.duration-picker {
  background-color: $pink;
  display: inline-block;
  padding: 5px;
  color: $white;

  .dropdown {
    min-width: 0 !important;
    border-radius: 0 !important;
  }
}
