.participant-table {
  max-width: 700px;

  .participant-row {
    height: 150px;

    &:not(.finalized):hover {
      cursor: pointer;
    }

    :global(.ui.checkbox),
    :global(.ui.checkbox) label::before {
      width: 30px;
      height: 30px;
    }

    :global(.ui.checkbox) label::after {
      width: 24px;
      height: 24px;
      top: 4px;
      left: 3px;
    }

    .date {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .time {
      font-size: 14px;
      font-weight: normal;
      color: gray;
    }

    .available-participants {
      .wrapper {
        display: flex;
        align-items: center;

        .availability-indicator {
          flex: 1;
          margin-right: 20px;
        }

        .participants {
          flex: 5;

          .user-element {
            display: inline-flex;
            align-items: center;
            padding: 5px 0;
            margin-right: 5px;
          }

          .more-participants {
            display: block;
            max-width: 90px;
            margin: 5px 0;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .count {
        margin-bottom: 15px;
      }
    }
  }
}
