.participant-table {
  max-width: 700px;

  .participant-row {
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    :global(.ui.checkbox),
    :global(.ui.checkbox) label::before {
      width: 30px;
      height: 30px;
    }

    :global(.ui.checkbox) label::after {
      width: 24px;
      height: 24px;
      top: 4px;
      left: 3px;
    }

    .schedule-info {
      padding: 5px !important;

      .date {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 10px;
      }

      .time {
        font-size: 14px;
        font-weight: normal;
        color: gray;
      }

      @media (max-width: 768px) {
        width: 100%;

        .date {
          font-size: 22px;
        }

        .time {
          font-size: 10px;
        }
      }
    }

    .available-participants {
      background-color: transparent !important;
      text-align: center;

      .wrapper {
        display: inline-flex;
        align-items: center;
        @media (max-width: 768px) {
          display: inline-block;
        }

        .availability-indicator {
          margin-right: 20px;
          max-width: 80px;

          @media (max-width: 768px) {
            margin-right: 0px;
          }
        }

        .participants {
          flex: 5;

          .user-element {
            display: inline-flex;
            align-items: center;
            padding: 5px 0;
            margin-right: 5px;
          }

          .more-participants {
            display: block;
            max-width: 90px;
            margin: 5px 0;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .count {
        margin-bottom: 15px;
      }
    }
  }
}
