@import '../styles/palette.scss';

$row-height: 50px;
$label-width: 120px;

.timeline {
  margin: 4px;
  position: relative;

  .timeline-date {
    color: $coral;
    margin-left: $label-width;
  }

  .timeline-hours {
    margin-left: $label-width;
    margin-right: 10px;
    color: $grey;
    height: $row-height;
    position: relative;

    .timeline-hour {
      position: absolute;

      .timeline-hour-text {
        margin-left: -5px;
      }
    }
  }

  .timeline-rows {
    position: relative;
    margin-left: $label-width;

    .timeline-row {
      height: $row-height;
      display: flex;

      .timeline-row-label {
        width: $label-width;
        margin-left: -$label-width;
      }

      .timeline-busy {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;

        .busy-item {
          background-color: $busy;
          height: $row-height;
          position: absolute;
          border: 1px solid darken($busy, 4%);
        }
      }
    }

    .busy-column {
      background-color: $busy;
      position: absolute;
      top: 0;
      height: calc(100% + 2 * #{$row-height});
      opacity: 0.3;
    }
  }
}
