@import '../styles/palette';

$row-height: 50px;
$label-width: 180px;

.timeline {
  margin: 4px;
  position: relative;

  .timeline-title {
    display: flex;
    justify-content: space-between;
  }

  .timeline-date {
    color: $coral;
    margin-left: $label-width;
  }

  .timeline-hours {
    margin-left: $label-width;
    margin-right: 10px;
    color: $grey;
    height: $row-height;
    position: relative;

    .timeline-hour {
      position: absolute;

      .timeline-hour-text {
        margin-left: -5px;
      }
    }
  }

  .timeline-rows {
    position: relative;
    margin-left: $label-width;

    .timeline-row {
      height: $row-height;
      display: flex;

      .timeline-row-label {
        display: flex;
        justify-content: flex-end;
        width: $label-width;
        margin-left: -$label-width;

        .avatar {
          color: $grey;
          display: flex;
          align-items: center;
          padding-right: 20px;

          img {
            margin-left: 10px;
            border-radius: 50%;
          }
        }
      }

      .timeline-busy {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
      }
    }

    .busy-column {
      background-color: $busy;
      position: absolute;
      top: 0;
      height: 100%;
      opacity: 0.3;
    }
  }

  .clickable {
    opacity: 0.6;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .slot {
    height: $row-height;
    position: absolute;
    background-color: $busy;
    border: 1px solid darken($busy, 4%);

    &.candidate {
      background-color: $green;
      border: 1px solid darken($green, 4%);
      height: 40px;

      &:hover {
        cursor: pointer;
        background-color: lighten($green, 5%);
      }

      .delete-btn {
        color: $purple;
        position: absolute;
        right: -20px;
        top: -15px;
      }
    }
  }

  .timeline-input {
    opacity: 0.6;
    display: flex;
    align-items: center;
    min-height: $row-height;
    background-color: lighten($grey, 45%);
    border-radius: 3px;
    box-sizing: content-box;

    .timeline-candidates {
      display: flex;
      flex-direction: column;

      .candidates-group {
        display: flex;
        align-items: center;
        height: $row-height;
      }
    }

    &.msg {
      align-items: center;
      justify-content: center;
      font-style: italic;
      border: 1px solid $grey;

      &:hover {
        opacity: 0.4;
        cursor: pointer;
      }
    }

    &.edit {
      background-color: lighten($green, 27%);
      border: 5px solid lighten($green, 22%);
      margin: -5px -40px;
      padding: 10px;

      .add-btn {
        margin-left: auto;
        position: absolute;
        right: -35px;
        color: $grey;
      }
    }
  }
}

.time-input {
  display: flex !important;
  width: 150px;

  input[type='time']::-webkit-clear-button {
    display: none;
  }
}
