@import '../../styles/palette';
@import '../../styles/forms';
@import '../../styles/boxes';

.options-msg {
  text-align: center;
}

.date {
  text-align: center;
}

.hours-column {
  position: relative;
  width: 100%;
  height: 750px;
  margin-top: 25px;

  .hour {
    position: absolute;
    color: $grey;
  }
}

.participant-name-box {
  @extend %box-grey;
  margin-bottom: 2em;
  width: 100%;

  .participant-name-input {
    @extend %important-input;
  }
}

.participant-title {
  font-weight: normal;
  color: $coral;

  :global(.icon) {
    color: lighten($grey, 30%);
  }
}

.options-column {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 1px;

  .answer-slot {
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
    width: 100%;

    &:global(.overlapping):hover {
      left: 0 !important;
      z-index: 999;
      width: 100% !important;
    }

    &.unavailable {
      color: $don-juan;
      background-color: rgba($grey, 0.3);
      border: 1px solid rgba($grey, 0.5);

      &:global(.overlapping):hover {
        background-color: rgba($grey, 0.9);
        color: $light-grey;
      }
    }

    &.available {
      color: $dark-green;
      background-color: rgba($green, 0.5);
      border: 1px solid rgba($dark-green, 0.3);

      &:global(.overlapping):hover {
        background-color: rgba($green, 0.9);
      }
    }

    &.ifneedbe {
      color: $dark-yellow;
      background-color: rgba($yellow, 0.5);
      border: 1px solid rgba($dark-yellow, 0.3);

      &:global(.overlapping):hover {
        background-color: rgba($yellow, 0.9);
      }
    }

    .option {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3px;
      user-select: none;
      align-items: center;

      span {
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;
      }

      i:global(.icon) {
        height: initial;
      }
    }
  }

  .multiple-answer-slot {
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    width: 100%;
    border: 1px solid rgba($grey, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

    .option {
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 3px;
      user-select: none;

      &.unavailable {
        background-color: rgba($grey, 0.3);
        color: $don-juan;
      }

      &.available {
        color: $dark-green;
        background-color: rgba($green, 0.5);
      }

      &.ifneedbe {
        color: $dark-yellow;
        background-color: rgba($yellow, 0.5);
      }

      i:global(.icon) {
        height: initial;
      }
    }
  }

  .busy-slot {
    position: absolute;
    background-color: $peach;
    border: 1px solid darken($peach, 20%);
    opacity: 0.3;
    width: 100%;
  }
}

.all-options-checkbox:global(.ui.checkbox) label {
  font-size: 0.9em;
}

:global(.ui.grid) .bottom-row:global(.row) {
  margin-top: 4em;
  justify-content: flex-end;
  align-items: baseline;

  .options-msg {
    transition: color 0.25s ease-out;
    color: $don-juan;
    margin-right: 1em;

    &:global(.none) {
      color: $grey;
    }
  }
}

@media screen and (max-width: 767px) {
  :global(.ui.grid) .bottom-row:global(.row) {
    margin-top: 4em;
    flex-direction: column;
    align-items: center;

    .options-msg {
      transition: color 0.25s ease-out;
      color: $don-juan;
      margin-right: 1em;

      &:global(.none) {
        color: $grey;
      }
    }
  }
}

.on-behalf {
  color: $purple;
}

.timezone {
  margin: 10px;
  text-align: center;

  .timezone-title {
    font-weight: bold;
  }
}
