$coral: #ff8383;
$pink: #ff92c3;
$purple: #6101b3;
$grey: #808080;
$light-grey: #eee;
$white: #fff;
$peach: #ffb3b8;
$green: #62f46f;
$light-teal: #00caa8;
$blue: #2185d0;
$don-juan: #60495a;
$candidate: rgba(130, 130, 130, 0.3);
$burgundy: #781f41;
