<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 20px; line-height: 1.7; color: #555;">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; background: #ffffff;">
          <tr>
            <td style="border: 1px solid #ddd;">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                  <td style="padding: 20px 20px 10px; text-align: left;">
                    <img src="{{ url_for('logo', _external=true) }}" width="130px" style="opacity: 0.5; display:block; margin-left: auto; margin-right: auto;" alt="">
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="padding: 20px 50px 0; text-align: center; margin: 0 auto">
                      <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 0 0 20px;">
                          {% block content %}{% endblock %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; color: #aaa; font-size: 11px; padding-bottom: 10px;">
        <p style="padding: 0 50px; margin-top: 10px;">
          {% trans %}This email was sent by{% endtrans %} <a href="{{ url_for('index', _external=true) }}">newdle</a>.
        </p>
      </td>
    </tr>
  </table>
</body>
