{% extends 'base_email.html' %}

{% block content %}
  <p>
    {% trans %}"Hi {{ participant }}, you have a fresh newdle!"{% endtrans %}
  </p>

  <table border="0" cellpadding="0" cellspacing="0"
         style="padding: 20px; margin: 35px auto 0 auto; border-radius: 5px; background: #ffe6e8; min-width: 550px;">
    <tr>
      <td style="border: 0; padding: 0 0 0 20px; text-align: left;">
        <p>
          {% trans %}Please help <b>{{ creator }}</b> choose a time for the event "<b>{{ title }}</b>".{% endtrans %}
        </p>
      </td>
    </tr>
  </table>
  <p style="margin: 30px 0 15px">
    <a href="{{ answer_link }}"
       style="background: #2389D7; border-radius: 3px; color: #fff; border: none; outline: none; min-width: 200px; padding: 15px 25px; font-size: 14px; font-family: inherit; cursor: pointer; -webkit-appearance: none; text-decoration: none;">
       {% trans %}Go to the newdle to respond{% endtrans %}
    </a>
  </p>
  <p style="margin-top: 30px; font-size: 12px;">
    {% trans %}The link above is personalized for you; please do not forward/share it.{% endtrans %}
  </p>
{% endblock %}
