@import '../../styles/palette';

.title {
  color: $purple;
  display: flex;
  align-items: center;

  .header {
    margin-bottom: 0;
  }

  .label {
    margin-left: 5px;
  }
}

.subtitle {
  color: $white;
}

.summary {
  padding: 30px 3em;
}

.button-row {
  padding-top: 3em;
  display: flex;
  justify-content: center;

  .finalize-button {
    background-color: $light-teal;
    color: $white;
    font-size: 20px;

    &:hover {
      background-color: teal;
      color: $white;
    }
  }

  .create-event-button {
    background-color: #00394a;
    color: $white;

    &:hover {
      background-color: #00232d;
      color: $white;
    }
  }
}
