@import '../../styles/palette';

.button-row {
  padding-top: 1em;
  display: flex;
  justify-content: center;

  .finalize-button {
    background-color: $light-teal;
    color: $white;
    font-size: 20px;

    &:hover {
      background-color: teal;
      color: $white;
    }
  }

  .delete-button {
    background-color: darken($coral, 10);
    color: $white;
    font-size: 20px;

    &:hover {
      background-color: darken($coral, 30);
      color: $white;
    }
  }

  .create-event-button {
    background-color: $dark-blue !important;
    color: $white !important;

    &:hover {
      background-color: darken($dark-blue, 10%) !important;
    }
  }
}

.container {
  padding: 1em;

  .header {
    color: $coral;
  }
}

.missing-participants {
  max-width: 700px;
  margin-top: 10px;

  .user-element {
    display: inline-flex;
    align-items: center;
    margin-right: 13px;
  }
}

.email-participant-list {
  :global(.ui.list) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  & + .email-participant-list {
    margin-top: 1em;
  }
}

.mail-checkbox {
  margin-top: 20px;

  :global(.ui.input) {
    margin: 15px 25px 10px 25px;
    width: calc(100% - 50px);
  }

  .email-participant-list {
    margin: 10px 25px;
  }
}
