@import '../../styles/palette';

.button-row {
  padding-top: 3em;
  display: flex;
  justify-content: center;

  .finalize-button {
    background-color: $light-teal;
    color: $white;
    font-size: 20px;

    &:hover {
      background-color: teal;
      color: $white;
    }
  }

  .create-event-button {
    background-color: $dark-blue !important;
    color: $white !important;

    &:hover {
      background-color: darken($dark-blue, 10%) !important;
    }
  }
}
