@import 'styles/palette.scss';

$row-height: 60px;
$label-width: 100px;

.timeline {
    margin: 2em;
    position: relative;

    .timeline-date {
        color: $coral;
        margin-left: $label-width;
    }

    .timeline-hours {
        margin-left: $label-width;
        margin-right: 10px;
        font-size: 0.8em;
        color: $grey;
        min-height: $row-height;
        flex: 1;
        position: relative;

        .timeline-hour {
            text-align: center;
        }
    }

    .timeline-row {
        height: $row-height;
        display: flex;
                
        .timeline-row-label {
            width: $label-width;
        }

        .timeline-busy {
            position: relative;
            width: 100%;
            height: 100%;
            flex: 1;

            .busy-item {
                background-color: $timeline-busy;
                height: $row-height;
                position: absolute;
            }
        }
    }

    
}