.user-search-container {
  width: 30% !important;

  .participant-list-item {
    position: relative;

    &:hover {
      cursor: default !important;
    }

    .remove-icon {
      position: absolute;
      right: 0;
      top: 30%;

      &:hover {
        cursor: pointer !important;
      }
    }
  }
}

.participant-avatar img:global(.react-gravatar) {
  border-radius: 50%;
}

.user-search-modal .user-search-modal-header {
  display: flex !important;
  align-items: center;

  :global(.ui.label) {
    margin-left: 1em;
  }
}
