@import '../../styles/palette';

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title-input {
  width: 100%;
  border-bottom: 1px solid $purple !important;
  padding-bottom: 10px !important;
  input {
    font-size: 22px;
    color: $purple !important;
  }
}

.link-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;

  button.link {
    background: none;
    color: $blue;
    padding: 3px;
    font-weight: normal;

    &:hover {
      color: $blue;
      text-decoration: underline;
      background: none;
    }
  }
}

.attention-message {
  border: 1px solid $coral;
  border-radius: 3px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $grey;

  .header {
    color: $coral !important;
  }
}

.create-button {
  display: flex;
  justify-content: center;
}
