@import '../../styles/palette';
@import '../../styles/forms';

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title-input {
  @extend %important-input;
}

.link-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;

  button.link {
    background: none;
    color: $blue;
    padding: 3px;
    font-weight: normal;

    &:hover {
      color: $blue;
      text-decoration: underline;
      background: none;
    }
  }
}

.attention-message {
  border: 1px solid $coral;
  border-radius: 3px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $grey;

  .header {
    color: $coral !important;
  }
}

.create-button {
  display: flex;
  justify-content: center;
}

.selected-dates:global(.ui.segment) {
  text-align: center;
  color: $coral !important;
  color: $white;
  transition: color 0.5s ease-out;

  &.active {
    color: $light-teal !important;
  }
}

.advanced-options {
  margin-bottom: 50px;
  border: 1px solid #bbe;
  border-radius: 3px;
  padding: 15px 15px 0 15px;

  .headerbar {
    display: flex;
    justify-content: space-between;
    color: #8c8ce6;

    :global(.ui.header) {
      color: #8c8ce6;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .options {
    justify-content: space-between;
    margin: 1em 0 0 1em;
    color: #808080;
    padding-bottom: 15px;
  }
  .options div {
    margin: 0em 0.5em 1em 0;
  }

  .advanced-checkbox:global(.ui.checkbox) {
    float: right;
  }
}
